<table>
<tr>
 <!-- <td>Are you sure to delete this Object?</td>
-->
 <td>Sei sicuro di voler rinunciare all'indirizzo IP?</td>
</tr>
<tr>
 <td><b>ATTENZIONE: questa operazione non è reversibile!</b><br>
 	 <i>Sarà necessario effettuare una nuova richiesta per ottenere un indirizzo IP</i></td> 
</tr>
<tr><td><br>

<form method="POST" >
<div class="buttons">
<input type="submit" name="submit" value="Conferma"/>
</div>
</form>
</td>
</tr>
</table>
