[% META
   title="Utenti Strutturati"
   use_table=1
   section="Utenti"
-%]

[% init_table("userldap",null,{sortby => 0},json_url=c.uri_for('list/js')) -%]
<table class="display dataTable" id="userldap">
<thead>
<tr>
      <th>Username</th>
      <th>Nome e Cognome</th>
      <th>Email</th>
    </tr>
</thead>
</table>
