[% 
   link_css = [ c.uri_for('/static/css/style.css')      ]
   link_js  = [ ]
   js_scripts = []
-%]
[% PROCESS 'macros.tt' -%]
[% PROCESS 'jquery.tt' -%]

[%IF c.user_in_realm("normal") %]
	[% PROCESS 'menu.tt' -%]
[%ELSE%]
	[% PROCESS 'user_menu.tt' -%]
[%END -%]

[% PROCESS 'datatable.tt' -%]